GITHUB_TOKEN=github-token
GITHUB_USERNAME=github-username
WAKATIME_API_KEY=wakatime-api-key
CLOUDFLARE_ACCOUNT_ID=cloudflare-account
CLOUDFLARE_DATABASE_ID=cloudflare-database
CLOUDFLARE_D1_TOKEN=cloudflare-token