GITHUB_TOKEN=github-token
GITHUB_USERNAME=github-username
WAKATIME_API_KEY=wakatime-api-key
CLOUDFLARE_ACCOUNT_ID=cloudflare-account
CLOUDFLARE_DATABASE_ID=cloudflare-database
CLOUDFLARE_D1_TOKEN=cloudflare-token
ADMIN_EMAIL=admin@admin.com
ADMIN_PASSWORD=password
JWT_SECRET=123
BREVO_API_KEY=*******
BREVO_SENDER_EMAIL=********
BREVO_SENDER_NAME=*******
RECEIVER_EMAIL=*******